body{
    background-color:#F5FF90;
}

.navbar{
    height: 100px;
}
.navbar-nav{
    text-align: center;
}
#cajaInput{
    margin:2em;
}
#texto{
    width: 300px;
}

h2{
    background-color: whitesmoke;
    font-size: 1.5em;
}
textarea{
    resize: none;
}

