h1{
    text-align: center;
}
p{
    text-align: center;
    font-size: 25px;
}
#boxNumber{
    width: 17%;
    margin: 0 auto;
    
  }
  input{
      padding:1em;
  }
#buttonNumber{
    margin: 1em;
    padding:1em;
}
